<!DOCTYPE html>
<html lang="en">
<title>Home - Natural Disasters Database</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
.w3-bar,h1,button {font-family: "Montserrat", sans-serif}
.fa-anchor,.fa-coffee {font-size:200px}
</style>
<body>

<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-black w3-card w3-left-align w3-large">
    <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-red" href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <a class="w3-bar-item w3-button w3-padding-large w3-white">Home</a>
    <a href="{%url 'quakes'%}" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Earthquake</a>
    <a href="{%url 'tsunami'%}" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Tsunami</a>
    <a href="{%url 'tornado'%}" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Tornado</a>
    <a href="{%url 'volcano'%}" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Volcanic Activity</a>
  </div>

  <!-- Navbar on small screens -->
  <div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium w3-large">
    <a href="#" class="w3-bar-item w3-button w3-padding-large">Earthquake</a>
    <a href="#" class="w3-bar-item w3-button w3-padding-large">Tsunami</a>
    <a href="#" class="w3-bar-item w3-button w3-padding-large">Tornado</a>
    <a href="#" class="w3-bar-item w3-button w3-padding-large">Volcanic Activity</a>
  </div>
</div>

<!-- Header -->
<header class="w3-container w3-grey w3-center" style="padding:128px 16px">
  <h1 class="w3-margin w3-jumbo">WELCOME</h1>
  <p class="w3-xlarge">Natural Disasters Database</p>
</header>

<!-- First Grid -->
<div class="w3-row-padding w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-twothird">
      <h1>Earthquake</h1>
      <h5 class="w3-padding-32">An earthquake (also known as a quake, tremor or temblor) is the shaking of the surface of the Earth, resulting from the sudden release of energy in the Earth's lithosphere that creates seismic waves. Earthquakes can range in size from those that are so weak that they cannot be felt to those violent enough to toss people around and destroy whole cities.</h5>

      <p class="w3-text-grey">At the Earth's surface, earthquakes manifest themselves by shaking and displacing or disrupting the ground. When the epicenter of a large earthquake is located offshore, the seabed may be displaced sufficiently to cause a tsunami. Earthquakes can also trigger landslides, and occasionally volcanic activity.</p>
    </div>

    <div class="w3-third w3-center">
       <img src="https://cdn.images.express.co.uk/img/dynamic/78/590x/Taiwan-earthquake-920272.jpg" class="w3-round" alt="Earthquake">
    </div>
  </div>
</div>

<!-- Second Grid -->
<div class="w3-row-padding w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-twothird">
      <h1>Tsunami</h1>
      <h5 class="w3-padding-32">A tsunami or tidal wave, also known as a seismic sea wave, is a series of waves in a water body caused by the displacement of a large volume of water, generally in an ocean or a large lake.</h5>

      <p class="w3-text-grey">Unlike normal ocean waves, which are generated by wind, or tides, which are generated by the gravitational pull of the Moon and the Sun, a tsunami is generated by the displacement of water. </p>
    </div>

    <div class="w3-third w3-center">
       <img src="http://www.1000words-a-day.com/wp-content/uploads/2013/04/TheWave.jpg" class="w3-round" alt="Tsunami">
    </div>
  </div>
</div>

<!-- Third Grid -->
<div class="w3-row-padding w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-twothird">
      <h1>Tornado</h1>
      <h5 class="w3-padding-32">A tornado is a rapidly rotating column of air that is in contact with both the surface of the Earth and a cumulonimbus cloud or, in rare cases, the base of a cumulus cloud.</h5>

      <p class="w3-text-grey">The windstorm is often referred to as a twister, whirlwind or cyclone, although the word cyclone is used in meteorology to name a weather system with a low-pressure area in the center around which winds blow counterclockwise in the Northern Hemisphere and clockwise in the Southern </p>
    </div>

    <div class="w3-third w3-center">
       <img src="https://mastermindescapegames.com/wp-content/uploads/2016/06/tornado-video-thumbnail.jpg" class="w3-round" alt="Tornado">
    </div>
  </div>
</div>

<!-- Fourth Grid -->
<div class="w3-row-padding w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-twothird">
      <h1>Volcanic Eruptions</h1>
      <h5 class="w3-padding-32">A volcanic eruption occurs when hot materials from the earth's interior are thrown out of a volcano. Lava, rocks, dust, and gas compounds are some of these "ejecta". </h5>

      <p class="w3-text-grey">Eruptions can come from side branches or from the top of the volcano. Some eruptions are terrible explosions that throw out huge amounts of rock and volcanic ash and kill many people. Some are quiet outflows of hot lava. Several more complex types of volcanic eruptions have been described by volcanologists. These are often named after famous volcanoes where that type of eruption has been seen. Some volcanoes may show only one type of eruption during a period of activity, while others may show a range of types in a series. </p>
    </div>

    <div class="w3-third w3-center">
       <img src="https://www.usnews.com/dims4/USNEWS/8125ada/2147483647/thumbnail/640x420/quality/85/?url=http%3A%2F%2Fcom-usnews-beam-media.s3.amazonaws.com%2F1c%2F58%2Fca61fef045dab1ec6f6ef8df414e%2F180509-volcano-editorial.jpg" class="w3-round" alt="Tsunami">
    </div>
  </div>
</div>
<div class="w3-container w3-black w3-center w3-opacity w3-padding-50">
    <h1 class="w3-margin w3-xlarge">Thanks for visiting the website</h1>
</div>

<!-- Footer -->
<footer class="w3-container w3-padding-40 w3-center w3-opacity">
  <div class="w3-xlarge w3-padding-20">
    <h1>A Database project </h1>
</footer>

<script>
// Used to toggle the menu on small screens when clicking on the menu button
function myFunction() {
  var x = document.getElementById("navDemo");
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else {
    x.className = x.className.replace(" w3-show", "");
  }
}
</script>

</body>
</html>
